# Retrieving raw JSON data for Oracle OpenWorld & CodeOne Session Catalog into local JSON Files

The session catalog data is available from a REST API whose root is https://events.rainfocus.com/api/search.

A typical call to this API uses Headers (rfwidgetid: 'KKA8rC3VuZo5clh8gX5Aq07XFonUTLyU',rfapiprofileid: 'uGiII5rYGOjoHXOZx0ch4r7f1KzFC0zd') and Form values to retrieve specific session information.

In [52]:
import requests
import pandas as pd
import json
import math 
url = "https://events.rainfocus.com/api/search" # rooturl for session catalog
#headers required in each API call
querystring = {"search.sessiontype":"1518466139979001dQkv"} #session type corresponds to BOF

payload = "------WebKitFormBoundary7MA4YWxkTrZu0gW\r\nContent-Disposition: form-data; name=\"size\"\r\n\r\n50\r\n------WebKitFormBoundary7MA4YWxkTrZu0gW\r\nContent-Disposition: form-data; name=\"type\"\r\n\r\nsession\r\n------WebKitFormBoundary7MA4YWxkTrZu0gW\r\nContent-Disposition: form-data; name=\"from\"\r\n\r\n{0}\r\n------WebKitFormBoundary7MA4YWxkTrZu0gW--"

headers = {
    'content-type': "multipart/form-data; boundary=----WebKitFormBoundary7MA4YWxkTrZu0gW",
    'rfapiprofileid': "uGiII5rYGOjoHXOZx0ch4r7f1KzFC0zd",
    'rfwidgetid': "KKA8rC3VuZo5clh8gX5Aq07XFonUTLyU",
    'cache-control': "no-cache"
}
# OOW
OOW_rfapiprofileid ="K9HkkU5es180AVTifYUgYembIKJ15CMM"
OOW_rfwidgetid= "VEsNDADSTFH5azU4dH1QslO3lhpQTy4U"

# CodeOne
CodeOne_rfapiprofileid= "uGiII5rYGOjoHXOZx0ch4r7f1KzFC0zd"
CodeOne_rfwidgetid =  "KKA8rC3VuZo5clh8gX5Aq07XFonUTLyU"

Data should be collected for all session types. The list of session types is shown  below :

In [53]:
sessionTypes =  {'BOF': '1518466139979001dQkv'
    , 'BQS': 'bqs'
    , 'BUS': '1519240082595001EpMm'
    , 'CAS': 'casestudy'
    , 'DEV': '1522435540042001BxTD'
    , 'ESS': 'ess'
    , 'FLP': 'flp'
    , 'GEN': 'general'
    , 'HOL': 'hol'
    , 'HOM': 'hom'
    , 'IGN': 'ignite'
    , 'KEY': 'option_1508950285425'
    , 'MTE':'1523906206279002QAu9'
    , 'PKN': '1527614217434001RBfj'
    , 'PRO': '1518464344082003KVWZ'
    , 'PRM': '1518464344082002KM3k'
    , 'TRN': '1518464344082001KHky'
    , 'SIG': 'sig'
    , 'THT': 'ts'
    , 'TLD': '1537894888625001RriS'
    , 'TIP': '1517517756579001F3CR'
    , 'TUT': 'tutorial'
    , 'TRN': '1518464344082001KHky'
                }
                
print("Mapping of Session Type to header-code", sessionTypes)

Mapping of Session Type to header-code {'BOF': '1518466139979001dQkv', 'BQS': 'bqs', 'BUS': '1519240082595001EpMm', 'CAS': 'casestudy', 'DEV': '1522435540042001BxTD', 'ESS': 'ess', 'FLP': 'flp', 'GEN': 'general', 'HOL': 'hol', 'HOM': 'hom', 'IGN': 'ignite', 'KEY': 'option_1508950285425', 'MTE': '1523906206279002QAu9', 'PKN': '1527614217434001RBfj', 'PRO': '1518464344082003KVWZ', 'PRM': '1518464344082002KM3k', 'TRN': '1518464344082001KHky', 'SIG': 'sig', 'THT': 'ts', 'TLD': '1537894888625001RriS', 'TIP': '1517517756579001F3CR', 'TUT': 'tutorial'}

In [54]:
def loadSessionDataForSessionTypeStartingAt(key,sessionType, startingAt):
    querystring = {"search.sessiontype":sessionType} #session type corresponds to BOF
    
    response = requests.request("POST", url, data=payload.format(startingAt), headers=headers, params=querystring)
    return response.text

def loadSessionDataForSessionType(key,sessionType):
    tempDict = json.loads(loadSessionDataForSessionTypeStartingAt( key, sessionType,0))
    sl= tempDict ["sectionList"][0]
    sessions = sl["items"]
    total = sl.get("total",-1)
    received = sl['numItems']
    startingAt = sl['from']
    print(" ** Received from " , startingAt," set of ", received , "items, out of a total of ", total);
    if total > received:
        requestTotal = math.ceil(total/50)
        print ("number of additional requests = ",requestTotal-1)
        for k in range(1,requestTotal):
            # for subsequent request, the response does not contain the nested sectionList element
            tempDict = json.loads(loadSessionDataForSessionTypeStartingAt( key, sessionType, k*50))
            items = tempDict['items']

            received = tempDict['numItems']
            startingAt = tempDict['from']
            print(" ** Received from " , startingAt," set of ", received , "items, out of a total of ", total);
            #combine sessions with new set of items
            sessions = sessions + items
    #the JSON object is converted to a Dict; this Dict contains scalar values such as strings and more complex values such as Arrarys and nested Dicts)
    ss = pd.DataFrame(sessions)
    return ss;

In [55]:
#loop over all session types and invoke function loadSessionDataForSessionType
print("Loading CodeOne details")
headers['rfapiprofileid'] = CodeOne_rfapiprofileid
headers['rfwidgetid'] = CodeOne_rfwidgetid
for key, value in sessionTypes.items():
    ss = loadSessionDataForSessionType(key, value)
    ss.to_json("oow2018-sessions_codeone_{0}.json".format(key), force_ascii=False)

print("Loading OOW details")
headers['rfapiprofileid'] = OOW_rfapiprofileid
headers['rfwidgetid'] = OOW_rfwidgetid
for key, value in sessionTypes.items():
    ss = loadSessionDataForSessionType(key, value)
    ss.to_json("oow2018-sessions_oow_{0}.json".format(key), force_ascii=False)

Loading CodeOne details
 ** Received from  0  set of  43 items, out of a total of  43
 ** Received from  0  set of  0 items, out of a total of  0
 ** Received from  0  set of  7 items, out of a total of  7
 ** Received from  0  set of  7 items, out of a total of  7
 ** Received from  0  set of  50 items, out of a total of  398
number of additional requests =  7
 ** Received from  50  set of  50 items, out of a total of  398
 ** Received from  100  set of  50 items, out of a total of  398
 ** Received from  150  set of  50 items, out of a total of  398
 ** Received from  200  set of  50 items, out of a total of  398
 ** Received from  250  set of  50 items, out of a total of  398
 ** Received from  300  set of  50 items, out of a total of  398
 ** Received from  350  set of  48 items, out of a total of  398
 ** Received from  0  set of  0 items, out of a total of  0
 ** Received from  0  set of  0 items, out of a total of  0
 ** Received from  0  set of  1 items, out of a total of  1
 ** Received from  0  set of  41 items, out of a total of  41
 ** Received from  0  set of  0 items, out of a total of  0
 ** Received from  0  set of  1 items, out of a total of  1
 ** Received from  0  set of  3 items, out of a total of  3
 ** Received from  0  set of  32 items, out of a total of  32
 ** Received from  0  set of  0 items, out of a total of  0
 ** Received from  0  set of  36 items, out of a total of  36
 ** Received from  0  set of  5 items, out of a total of  5
 ** Received from  0  set of  12 items, out of a total of  12
 ** Received from  0  set of  0 items, out of a total of  0
 ** Received from  0  set of  0 items, out of a total of  0
 ** Received from  0  set of  0 items, out of a total of  0
 ** Received from  0  set of  17 items, out of a total of  17
 ** Received from  0  set of  15 items, out of a total of  15
Loading OOW details
 ** Received from  0  set of  4 items, out of a total of  4
 ** Received from  0  set of  16 items, out of a total of  16
 ** Received from  0  set of  50 items, out of a total of  151
number of additional requests =  3
 ** Received from  50  set of  50 items, out of a total of  151
 ** Received from  100  set of  50 items, out of a total of  151
 ** Received from  150  set of  1 items, out of a total of  151
 ** Received from  0  set of  50 items, out of a total of  307
number of additional requests =  6
 ** Received from  50  set of  50 items, out of a total of  307
 ** Received from  100  set of  50 items, out of a total of  307
 ** Received from  150  set of  50 items, out of a total of  307
 ** Received from  200  set of  50 items, out of a total of  307
 ** Received from  250  set of  50 items, out of a total of  307
 ** Received from  300  set of  7 items, out of a total of  307
 ** Received from  0  set of  37 items, out of a total of  37
 ** Received from  0  set of  7 items, out of a total of  7
 ** Received from  0  set of  5 items, out of a total of  5
 ** Received from  0  set of  26 items, out of a total of  26
 ** Received from  0  set of  50 items, out of a total of  80
number of additional requests =  1
 ** Received from  50  set of  30 items, out of a total of  80
 ** Received from  0  set of  4 items, out of a total of  4
 ** Received from  0  set of  0 items, out of a total of  0
 ** Received from  0  set of  4 items, out of a total of  4
 ** Received from  0  set of  0 items, out of a total of  0
 ** Received from  0  set of  13 items, out of a total of  13
 ** Received from  0  set of  50 items, out of a total of  375
number of additional requests =  7
 ** Received from  50  set of  50 items, out of a total of  375
 ** Received from  100  set of  50 items, out of a total of  375
 ** Received from  150  set of  50 items, out of a total of  375
 ** Received from  200  set of  50 items, out of a total of  375
 ** Received from  250  set of  50 items, out of a total of  375
 ** Received from  300  set of  50 items, out of a total of  375
 ** Received from  350  set of  25 items, out of a total of  375
 ** Received from  0  set of  50 items, out of a total of  91
number of additional requests =  1
 ** Received from  50  set of  41 items, out of a total of  91
 ** Received from  0  set of  50 items, out of a total of  134
number of additional requests =  2
 ** Received from  50  set of  50 items, out of a total of  134
 ** Received from  100  set of  34 items, out of a total of  134
 ** Received from  0  set of  2 items, out of a total of  2
 ** Received from  0  set of  50 items, out of a total of  203
number of additional requests =  4
 ** Received from  50  set of  50 items, out of a total of  203
 ** Received from  100  set of  50 items, out of a total of  203
 ** Received from  150  set of  50 items, out of a total of  203
 ** Received from  200  set of  3 items, out of a total of  203
 ** Received from  0  set of  5 items, out of a total of  5
 ** Received from  0  set of  50 items, out of a total of  109
number of additional requests =  2
 ** Received from  50  set of  50 items, out of a total of  109
 ** Received from  100  set of  9 items, out of a total of  109
 ** Received from  0  set of  2 items, out of a total of  2

Below is the result of making a request for session details. The really interesting stuff is hidden in the first element of the sectionList array.

In [56]:
import pathlib

# define the path
currentDirectory = pathlib.Path('.')

for currentFile in currentDirectory.iterdir():  
    print(currentFile)

oow2018-sessions_codeone_PKN.json
oow2018-sessions_oow_ESS.json
oow2018-sessions_codeone_PRO.json
oow2018-sessions_oow_TIP.json
OOW2018 Session Catalog - retrieving raw session data in JSON files.ipynb
oow2018-sessions_oow_THT.json
.ipynb_checkpoints
oow2018-sessions-wrangled.json
oow2018-sessions_codeone_DEV.json
oow2018-sessions_codeone_BOF.json
oow2018-sessions_codeone_BUS.json
oow2018-sessions_codeone_MTE.json
oow2018-sessions_oow_PKN.json
oow2018-sessions_codeone_PRM.json
oow2018-sessions_codeone_TLD.json
oow2018-sessions_oow_PRM.json
oow2018-sessions_codeone_HOL.json
oow2018-sessions_codeone_KEY.json
oow2018-sessions_oow_TRN.json
oow2018-sessions_oow_HOM.json
oow2018-sessions_codeone_BQS.json
oow2018-sessions_oow_TLD.json
oow2018-sessions_codeone_TRN.json
oow2018-sessions_oow_KEY.json
oow2018-sessions_codeone_ESS.json
oow2018-sessions.json
oow2018-sessions_oow_CAS.json
oow2018-sessions_oow_FLP.json
oow2018-sessions_oow_BQS.json
OOW2018 Session Catalog - retrieving raw session data.ipynb
oow2018-sessions_codeone_TIP.json
oow2018-sessions_codeone_CAS.json
oow2018-sessions_oow_HOL.json
oow2018-sessions_oow_BOF.json
oow2018-sessions_codeone_THT.json
oow2018-sessions_oow_MTE.json
OOW2018 Session Catalog - Explorations.ipynb
oow2018-sessions_codeone_TUT.json
oow2018-sessions_oow_PRO.json
oow2018-sessions_oow_DEV.json
oow2018-sessions_codeone_GEN.json
oow2018-sessions_oow_TUT.json
oow2018-sessions_codeone_SIG.json
oow2018-sessions_codeone_IGN.json
oow2018-sessions_oow_GEN.json
oow2018-sessions-bof.json
oow2018-sessions_codeone_FLP.json
oow2018-sessions_oow_BUS.json
oow2018-sessions_codeone_HOM.json
oow2018-sessions_oow_IGN.json
oow2018-sessions_oow_SIG.json

In [57]:
#as a test, try to load data from one of the generated files 
dubss = pd.read_json("oow2018-sessions_oow_HOL.json")
dubss

,abbreviation,abstract,allowDoubleBooking,attributevalues,code,codeParts,code_id,es_metadata_id,event,eventCode,...,type_displayorder,type_displayorder_string,useDoubleBooking,useWaitingList,videos,viewAccess,viewAccessPublic,viewFileAccess,waitlistAccess,waitlistLimit
0,HOL6306,"Enhance the security of your Oracle HCM, ERP, ...",0,"[{'value': 'Beginner', 'attributevalue_id': '1...",HOL6306,"{'alpha0': 'HOL', 'numeric1': '6306'}",hol6306,15311715163230013Hbl,Oracle OpenWorld,oow18,...,9999,9999,True,0,None,"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
1,HOL6286,Oracle Data Integration Platform Cloud allows ...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",HOL6286,"{'alpha0': 'HOL', 'numeric1': '6286'}",hol6286,1530813370901001gB2W,Oracle OpenWorld,oow18,...,9999,9999,True,0,None,"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
10,HOL6325,In this session learn to develop and deploy a ...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",HOL6325,"{'alpha0': 'HOL', 'numeric1': '6325'}",hol6325,15313473829130018nP4,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
11,HOL6328,In this session learn about the latest feature...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",HOL6328,"{'alpha0': 'HOL', 'numeric1': '6328'}",hol6328,1531350426847001WHKn,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
12,HOL6331,In this hands-on lab learn the basics of Oracl...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",HOL6331,"{'alpha0': 'HOL', 'numeric1': '6331'}",hol6331,1531436407190001W0ep,Oracle OpenWorld,oow18,...,9999,9999,True,0,None,"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
13,HOL6684,The size and scale of high-performance computi...,0,"[{'value': 'Intermediate', 'attributevalue_id'...",HOL6684,"{'alpha0': 'HOL', 'numeric1': '6684'}",hol6684,15372125646130014Ryp,Oracle OpenWorld,oow18,...,9999,9999,True,0,None,"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",3
14,HOL6334,In this lab learn how to use Vagrant to automa...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",HOL6334,"{'alpha0': 'HOL', 'numeric1': '6334'}",hol6334,1531850104620001VdEf,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
15,HOL6305,Are you challenged with increasing user adopti...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",HOL6305,"{'alpha0': 'HOL', 'numeric1': '6305'}",hol6305,1531160180647001y4NT,Oracle OpenWorld,oow18,...,9999,9999,True,0,None,"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
16,HOL6309,Oracle Blockchain Cloud Service provides a pla...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",HOL6309,"{'alpha0': 'HOL', 'numeric1': '6309'}",hol6309,1531173049279001wPQp,Oracle OpenWorld,oow18,...,9999,9999,True,0,None,"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
17,HOL6326,One of the marquee features of Oracle Applicat...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",HOL6326,"{'alpha0': 'HOL', 'numeric1': '6326'}",hol6326,153134816117500185FU,Oracle OpenWorld,oow18,...,9999,9999,True,0,None,"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
18,HOL6281,In order for your company to compete in the di...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",HOL6281,"{'alpha0': 'HOL', 'numeric1': '6281'}",hol6281,1530707949027001zN3k,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
19,HOL6300,Chatbots are one of the first widespread uses ...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",HOL6300,"{'alpha0': 'HOL', 'numeric1': '6300'}",hol6300,1531154864677001tXrl,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
2,HOL1703,In this session learn how to use the MySQL Doc...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",HOL1703,"{'alpha0': 'HOL', 'numeric1': '1703'}",hol1703,1521553710000001ba0z,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
20,HOL6302,In this session discover Oracle NoSQL Database...,0,"[{'value': 'Intermediate', 'attributevalue_id'...",HOL6302,"{'alpha0': 'HOL', 'numeric1': '6302'}",hol6302,1531155463866001ZhyB,Oracle OpenWorld,oow18,...,9999,9999,True,0,None,"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
21,HOL1706,In this session get a practical introduction t...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",HOL1706,"{'alpha0': 'HOL', 'numeric1': '1706'}",hol1706,1521553890944001ECyT,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
22,HOL6270,In this hands-on-lab experience the complete d...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",HOL6270,"{'alpha0': 'HOL', 'numeric1': '6270'}",hol6270,1529997026182001kjRq,Oracle OpenWorld,oow18,...,9999,9999,True,0,None,"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
23,HOL6308,Enhance the security of your Oracle Cloud Infr...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",HOL6308,"{'alpha0': 'HOL', 'numeric1': '6308'}",hol6308,1531172711199001fm2L,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
24,HOL6304,Chatbots and digital assistants enable end use...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",HOL6304,"{'alpha0': 'HOL', 'numeric1': '6304'}",hol6304,1531158422474001A54T,Oracle OpenWorld,oow18,...,9999,9999,True,0,None,"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
25,HOL6299,In this session learn how to enhance the proce...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",HOL6299,"{'alpha0': 'HOL', 'numeric1': '6299'}",hol6299,1531148224056001ZQyx,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
26,HOL6298,In this session learn how to add processes to ...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",HOL6298,"{'alpha0': 'HOL', 'numeric1': '6298'}",hol6298,1531114263716001yvdY,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
27,HOL6282,"In todayâ€™s fast-paced business world, moving d...",0,"[{'value': 'Intermediate', 'attributevalue_id'...",HOL6282,"{'alpha0': 'HOL', 'numeric1': '6282'}",hol6282,1530805828201001IU30,Oracle OpenWorld,oow18,...,9999,9999,True,0,None,"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
28,HOL2961,The W3C Web Component specification has been a...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",HOL2961,"{'alpha0': 'HOL', 'numeric1': '2961'}",hol2961,1521749570808001NVSm,Oracle OpenWorld,oow18,...,9999,9999,True,0,None,"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
29,HOL3799,Virtualization is one of the cornerstones of c...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",HOL3799,"{'alpha0': 'HOL', 'numeric1': '3799'}",hol3799,152208709504200129Dn,Oracle OpenWorld,oow18,...,9999,9999,True,0,None,"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
3,HOL6289,With the growing number of data breaches every...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",HOL6289,"{'alpha0': 'HOL', 'numeric1': '6289'}",hol6289,1530818925654001zznR,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
30,HOL6379,"For any organization with a web application, i...",0,"[{'value': 'Beginner', 'attributevalue_id': '1...",HOL6379,"{'alpha0': 'HOL', 'numeric1': '6379'}",hol6379,1532379592698001Z86w,Oracle OpenWorld,oow18,...,9999,9999,True,0,None,"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",9
31,HOL6321,Looking for a database platform that is simple...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",HOL6321,"{'alpha0': 'HOL', 'numeric1': '6321'}",hol6321,15312648428070018Vax,Oracle OpenWorld,oow18,...,9999,9999,True,0,None,"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
32,HOL6312,Oracle Database In-Memory introduces a new col...,0,"[{'value': 'Intermediate', 'attributevalue_id'...",HOL6312,"{'alpha0': 'HOL', 'numeric1': '6312'}",hol6312,1531174489861001f84Z,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
33,HOL6294,This is your opportunity to get up close and p...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",HOL6294,"{'alpha0': 'HOL', 'numeric1': '6294'}",hol6294,1530830643109001gGo6,Oracle OpenWorld,oow18,...,9999,9999,True,0,None,"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
34,HOL4799,In this lab learn to write an asynchronous ser...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",HOL4799,"{'alpha0': 'HOL', 'numeric1': '4799'}",hol4799,1525214792374001MDj3,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
35,HOL6301,In this hands-on lab learn to upgrade to Oracl...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",HOL6301,"{'alpha0': 'HOL', 'numeric1': '6301'}",hol6301,1531155099477001EpxQ,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54,HOL6330,<b>PLEASE NOTE: YOU MUST BRING YOUR OWN LAPTOP...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",HOL6330,"{'alpha0': 'HOL', 'numeric1': '6330'}",hol6330,15314224519720018Der,Oracle OpenWorld,oow18,...,9999,9999,True,0,None,"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
55,HOL6377,Oracle Autonomous Data Warehouse Cloud provide...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",HOL6377,"{'alpha0': 'HOL', 'numeric1': '6377'}",hol6377,15323792780090015EfP,Oracle OpenWorld,oow18,...,9999,9999,True,0,None,"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",9
56,HOL6348,Transitioning to the cloud and struggling to g...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",HOL6348,"{'alpha0': 'HOL', 'numeric1': '6348'}",hol6348,1532125556591001llkt,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
57,HOL6957,Transitioning to the cloud and struggling to g...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",HOL6957,"{'alpha0': 'HOL', 'numeric1': '6957'}",hol6957,1538681705007001LSaY,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
58,HOL6394,"Open source technologies such as Vagrant, Orac...",0,"[{'value': 'Intermediate', 'attributevalue_id'...",HOL6394,"{'alpha0': 'HOL', 'numeric1': '6394'}",hol6394,1532524710758001TNwB,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
59,HOL6370,More and more organizations recognize the need...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",HOL6370,"{'alpha0': 'HOL', 'numeric1': '6370'}",hol6370,1532369380756001TEV3,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
6,HOL6317,Enterprises are moving various types of data i...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",HOL6317,"{'alpha0': 'HOL', 'numeric1': '6317'}",hol6317,1531203830212001wRab,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
60,HOL6448,Come to this hands-on lab to see for yourself ...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",HOL6448,"{'alpha0': 'HOL', 'numeric1': '6448'}",hol6448,1533152030130001fl9h,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
61,HOL6393,Join this session to get hands-on experience u...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",HOL6393,"{'alpha0': 'HOL', 'numeric1': '6393'}",hol6393,1532468435612001It4s,Oracle OpenWorld,oow18,...,9999,9999,True,0,None,"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
62,HOL6391,Come to this hands-on lab to see for yourself ...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",HOL6391,"{'alpha0': 'HOL', 'numeric1': '6391'}",hol6391,1532465992610001YaWY,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
63,HOL6371,Everyoneâ€”from casual business consumer to powe...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",HOL6371,"{'alpha0': 'HOL', 'numeric1': '6371'}",hol6371,15323703742490010ltF,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
64,HOL6384,Oracle Exec Focus is a business guidance appli...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",HOL6384,"{'alpha0': 'HOL', 'numeric1': '6384'}",hol6384,15323865223640015KMH,Oracle OpenWorld,oow18,...,9999,9999,True,0,None,"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",2
65,HOL6383,Oracle Exec Focus is a business guidance appli...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",HOL6383,"{'alpha0': 'HOL', 'numeric1': '6383'}",hol6383,1532386244915001TxNe,Oracle OpenWorld,oow18,...,9999,9999,True,0,None,"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",2
66,HOL6385,Oracle Exec Focus is a business guidance appli...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",HOL6385,"{'alpha0': 'HOL', 'numeric1': '6385'}",hol6385,1532386730333001Zxbb,Oracle OpenWorld,oow18,...,9999,9999,True,0,None,"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",2
67,HOL3765,Oracle SuperClusterâ€™s virtual assistant levera...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",HOL3765,"{'alpha0': 'HOL', 'numeric1': '3765'}",hol3765,1521841317740001gUje,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
68,HOL6340,In this session learn how Ksplice lets you app...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",HOL6340,"{'alpha0': 'HOL', 'numeric1': '6340'}",hol6340,1531949033783001X7cH,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
69,HOL6329,Get hands-on and learn the features of the Pyt...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",HOL6329,"{'alpha0': 'HOL', 'numeric1': '6329'}",hol6329,15313512018360018ysg,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
7,HOL3137,This session explores Corosync and Pacemaker c...,0,"[{'value': 'Intermediate', 'attributevalue_id'...",HOL3137,"{'alpha0': 'HOL', 'numeric1': '3137'}",hol3137,1521756750335001571q,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
70,HOL6332,Data platforms are becoming increasingly compl...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",HOL6332,"{'alpha0': 'HOL', 'numeric1': '6332'}",hol6332,15314365717700018FTY,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
71,HOL6347,Unified security monitoring and auditing is cr...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",HOL6347,"{'alpha0': 'HOL', 'numeric1': '6347'}",hol6347,1532125271329001l53v,Oracle OpenWorld,oow18,...,9999,9999,True,0,None,"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
72,HOL6310,GDPR compliance is critical to organizations. ...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",HOL6310,"{'alpha0': 'HOL', 'numeric1': '6310'}",hol6310,153117316185400133dt,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
73,HOL6346,Are you migrating to Oracle Cloud Infrastructu...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",HOL6346,"{'alpha0': 'HOL', 'numeric1': '6346'}",hol6346,15321250793920016lUP,Oracle OpenWorld,oow18,...,9999,9999,True,0,None,"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
74,HOL3797,As services become more agile and servers beco...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",HOL3797,"{'alpha0': 'HOL', 'numeric1': '3797'}",hol3797,1522086906118001EnFe,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
75,HOL6386,<b>PLEASE NOTE: YOU MUST BRING YOUR OWN DEVICE...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",HOL6386,"{'alpha0': 'HOL', 'numeric1': '6386'}",hol6386,1532399676987001BLbg,Oracle OpenWorld,oow18,...,9999,9999,True,0,None,"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",6
76,HOL2986,MySQL 8.0 added support for common table expre...,0,"[{'value': 'Intermediate', 'attributevalue_id'...",HOL2986,"{'alpha0': 'HOL', 'numeric1': '2986'}",hol2986,15217507984320012olX,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",0
77,HOL6375,Oracle Cloud Infrastructure Container Engine f...,0,"[{'value': 'Beginner', 'attributevalue_id': '1...",HOL6375,"{'alpha0': 'HOL', 'numeric1': '6375'}",hol6375,15323786364450016kSE,Oracle OpenWorld,oow18,...,9999,9999,True,0,[],"[1533140082245001une2, 1533141196635001EZdJ, 1...",True,[],"[1533141196635001EZdJ, 1533143193464001uQsQ]",9

#Resources

Dataquest Data Science Blog â€” Jupyter Notebook for Beginners: A Tutorial https://www.dataquest.io/blog/jupyter-notebook-tutorial/

The Pandas DataFrame â€“ loading, editing, and viewing data in Python - by Shane Lynn https://www.shanelynn.ie/using-pandas-dataframe-creating-editing-viewing-data-in-python/